node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

env.json

settings_mbt.json

.history/screens/ChatScreen_20200812144517.js

.history/screens/ChatScreen_20200812144445.js

.history/screens/ChatScreen_20200812142228.js
